name: Build Mobile-Control-Core

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          registry-url: 'https://npm.pkg.github.com'
          scope: '@pepperdash'
      - name: install packages
        run: npm ci
      - name: build
        run: npm run build
      - name: Deploy to npm
        run: |
          npx --package=@semantic-release \
          --package=@semantic-release/commit-analyzer \
          --package=@semantic-release/release-notes-generator \
          --package=@semantic-release/npm \
          --package=@semantic-release/github \
          -- semantic-release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
